MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=innovasoft_app
INNOVASOFT_API_BASE=https://pruebareactjs.test-class.com/Api
ENVIRONMENT=development
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://innovasoft-front.onrender.com
CORS_ALLOW_RENDER_REGEX=true
SERVE_FRONTEND=false
